.env
node_modules
.DS_Store
const token = "postgres://lftinrsd:8xWOylw4vIeJwOvr034JxmQwBD-V-g5A@fanny.db.elephantsql.com/lftinrsd"
const token = "postgres://donffadg:R98AfsPlmzFCp0nfsayN3VLzkX_JxZf-@fanny.db.elephantsql.com/donffadg"
